*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Nunito sans, sans-serif;
}

/* Navigation */

nav {
    position: fixed;
    height: 70px;
    width: 100%;
    background: linear-gradient(to bottom,  #44b852,#Fdcb28);
    z-index: 10;
}
.logo-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 50px;
    z-index: 25;
    display: none;
}
.logo-bloom {
    border-radius: 50%;
    width: 59px;
    display: block;
    top: -169px;
    left: -50px;
    margin: 177px auto 0;
    position: relative;
  }

.liste-nav {
    background: linear-gradient(to bottom,  #44b852,#Fdcb28);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    z-index: 20;
}

.item-nav {
    display: flex;
    align-items: center;
}

.item-nav a {
    font-size: 22px;
    color: #f1f1f1;
    text-decoration: none;
    margin: 0 20px;
    text-transform: uppercase;
}

.item-nav a::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0%;
    height: 2px;
    background: #f1f1f1;
    transition: width 0.2s ease-in-out;
}
.item-nav a:hover::after {
    width: 100%;
}

@media screen and (max-width: 700px){
    .logo-menu {
        display: block;
    }
    .liste-nav {
        padding-top: 70px;
        flex-direction: column;
        height: auto;
        position: relative;
        display: none;
    }
    .logo-bloom  {
        margin: 120px auto 0;
    }
    .liste-nav.active {
        display: block;
    }
    .item-nav {
        height: 70px;
        justify-content: center;
    }
}
/* Accueil  */


.carousel-item img{
    width: 100%;
    height: 5vh;
    min-height: 970px;
    border-bottom: 1px dotted #777;
    padding-top: 50px;

}

#carrousel{
    width: 500px;
    height: 400px;
    border: solid 4px #fff;
    box-shadow: 0 0 14px rgba(0, 0,0, 0.3);
    position: relative;
    overflow: hidden;
}
#container{
    width: 500px;
    height: 400px;
}
/*
.photo{
    width: 500px;
    height: 400px;
    margin: 0;
    display: inline-block;
    background-size: cover;
}
*/
.diapo{
    position: relative;
    overflow: hidden;
}

.elements{
    display: flex;
}
a{
    text-decoration: none;
    color: #333;
}
.element{
    flex: 1 0 100%;
    position: relative;
}

.element > img{
    width: 500px;
}

.caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
}

#nav-gauche, #nav-droite{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 2rem;
    cursor: pointer;
}
#nav-droite{
    right: 0;
}

@media screen and (max-width: 400px){
    .carousel-item img {
        height: 550px;
    }


    .logo-menu {
        top: 15px;
        width: 40px;
    }

}
/* ------- Section realisation ---------- */

.section-realisation {
    padding-bottom: 9px;
}
.section-realisation h2  {
    text-align: center;
    color: #333;
    font-size: 40px;
    font-weight: 400;

    padding: 9px 0 0 0;
}
.section-realisation img  {

    margin: 0;
}
.realisation  {
    text-align: center;
    color: grey;
    font-size: 20px;
    font-weight: 400;


}

@media screen and (max-width: 1300px) {
    .section-realisation h2 {
        padding: 9px 0 0 0;
    }
    .container-form {
        padding-left: 0;
    }
}

.counter-up{
    background: url("https://thumbs.dreamstime.com/b/jaune-lumineux-et-fond-orange-dans-la-conception-panoramique-de-rectangle-en-t%C3%AAte-ou-panneau-site-web-avec-vieille-texture-cru-152846835.jpg") no-repeat;
    min-height: 50vh;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 50px;
    position: relative;
    display: flex;
    align-items: center;
  }
  .counter-up::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*background: rgba(124, 108, 108, 0.8);*/
  }
  .counter-up .content{
    z-index: 1;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .counter-up .content .box{
    border: 1px dashed #Fdcb28;
    width: calc(25% - 30px);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
  }
  .content .box .icon{
    font-size: 48px;
    color: #e6e6e6;
  }
  .content .box .counter{
    font-size: 50px;
    font-weight: 500;
    color: #f2f2f2;
    font-family: sans-serif;
  }
  .content .box .text{
    font-weight: 400;
    color: #ccc;
  }
  @media screen and (max-width: 1036px) {
    .counter-up{
      padding: 50px 50px 0 50px;
    }
    .counter-up .content .box{
      width: calc(50% - 30px);
      margin-bottom: 50px;
    }
  }
  @media screen and (max-width: 580px) {
    .counter-up .content .box{
      width: 100%;
    }
  }
  @media screen and (max-width: 500px) {
    .wrapper{
      padding: 20px;
    }
    .counter-up{
      padding: 30px 20px 0 20px;
    }
  }
/*section equipe*/
hr {
    opacity: 0.8;
}
.btnSection  {
    font-size: 20px;
    position: relative;
    text-align: center;
    display: block;
    width: 210px;
    height: 35px;
    background: #44b852;
    top: -9px;
    left: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e2e2e2;
    border-radius: 1px;
}
@media screen and (max-width: 1300px) {
    .btnSection {
        position: relative;
        top: -9px;
        left: 37px;
    }
}
/*footer*/
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
    background: linear-gradient(to bottom,  #44b852,#Fdcb28);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #1276bc;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #1276bc;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/*creation*/
.creation{
font-size: 19px;text-align: center;margin-top: 13px;text-transform: uppercase;font-weight: 600 !important;

}
.objecti_valeur_impact  {
    text-align: center;
    color: #888888;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;


}
.section-objecti_valeur_impact {
    padding-bottom: 9px;
}
.section-objecti_valeur_impact img {
   width: 20%;

}
.section-objecti_valeur_impact p{
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
